{% extends 'base.html' %}

{% block content %}
        <div class="index_login_pic">
    </div>
    <div class="container" style="margin-top: 18px;">
        <h2>All Comments</h2>
        <div class="panel panel-default col-lg-8" style="padding: 0">
            <div class="panel-heading">Comments On Me</div>
            <div class="panel-body">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="media" style="margin-bottom: 20px">
                            <div class="media-body">
                                <h4 class="media-heading">{{ comment[0] }} Said: </h4>
                                {{ comment[1] }}
                                <br><br>
                                <p>Rating:
                                    {% for i in range(comment[2]) %}
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                {% else %}
                    <h3>This tutor has no comments now.</h3>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}